{% extends "base.html" %}

{% block title %}Bids{% endblock %}

{% block content %}

  <div>
    <table class="table table-striped table-condensed">
      <tr>
        <th>Bidder ID</th>
        <th>Certificate ID</th>
        <th>Account Number</th>
        <th>Tax Year</th>
        <th>Bid amount</th>
        <th>Winning Bid</th>
      </tr>
    {% for bid in bids %}
    <tr>
      <td><a href="/bidders/?bidder_id={{bid.bidder_id}}">{{bid.bidder_id}}</a></td>
      <td>{{bid.cert_id}}</td>
      <td>{{bid.acct_no}}</td>
      <td>{{bid.tax_year}}</td>
      <td>{{bid.bid_amount}}</td>
      <td>{{bid.winning}}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
