<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<title>Welcome!</title>
</head>
<body>

<div class="container">
<div class="row text-center">
    <h1 >Welcome to Tax Certificate Analyzer</h1>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/topzips/">Top Zips</a></li>
        <li><a href="/properties/">Properties</a></li>
        <li><a href="/tax_certs/">Tax Certificates</a></li>
        <li><a href="/issuers/">Issuers of Tax Certificates</a></li>
        <li><a href="/bidders/">Bidders</a></li>
        <li><a href="/auctions/">Auctions</a></li>
      </ul>
  </div>
  </div>
</body>
</html>
