{% extends "base.html" %}

{% block title %}Issuers of Tax Certificates{% endblock %}

{% block content %}
    <table class="table table-striped table-condensed">
      <tr>
        <th>Issuer URL</th>
        <th>County</th>
        <th>State</th>
      </tr>
    {% for row in rows %}
    <tr>
      <td><a href="http://{{row.issuer_url}}" class="external" target="_blank">{{row.issuer_url}}</a></td>
      <td>{{row.county}}</td>
      <td>{{row.state}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}